
{% extends 'step1/layout.html' %}


{% block body %}

<br/>

{% if user.is_authenticated %}

    <center>

    {{ user.id }}

            <h1>Add Event To Database</h1>
    </center>
            <br/><br/>
            {% if submitted %}

                <h1>Your Event Was Submitted Successfully!!</h1>

            {% else %}

        
                
                <form action="" method=POST>
                    {% csrf_token %}

                    {{ form.as_p }}


                    <br/>
                    <input type="submit" value="Submit" class="btn btn-success">
                <form>
                
            
            {% endif %}
 
   
   
{% else %}

    <h1>Sorry you must be logined </h1>

    <a href="{% url 'login_user'%}">Login</a>
   
{% endif %}  
    
{% endblock %}


